body{
	font-family: Verdana, Geneva, sans-serif;
}

form {
    display:block;
    width: 100%;
    text-align: center;
}

form.top_right {
    float: right;
}

div {
	align: center;
	margin-bottom: 10px;
}

div.header {
	background-color: #aaaaff;
}

h2 {	
    font-size: 125%;
    font-weight: normal;
	margin: 5px;
	padding: 5px;
	text-align: center;
	background-color: #bbbbbb;
}

div.error h2 {	
    font-size: 125%;
    font-weight: normal;
	margin: 5px;
	padding: 5px;
	text-align: center;
	color: red;
	background-color: white;
}